<div class="sidebar-logo">
  <div class="card" style="width:235px; background-color: #136163 ;">

    <div id="userimg" style="width:50px;">
    <img src="assets/img/logo.png" alt="Card image" style="width:100%" class="profile-img">
    </div>
    
  </div>

  <div style="color: whitesmoke; font-weight: bolder; font-family: aladin; letter-spacing: 1px; font-size: 40px;"><b>Learning Management System</b></div>

  <div>
    <button class="logoutbtn" style="font-family: aladin; font-size: 20px;"><i class="fa fa-sign-out"></i> Logout</button>
  </div>
 
  
</div>
